# Redis
REDIS_URL=
REDIS_TOKEN=

# Database
DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=

# OAuth
  OAUTH_REDIRECT_URL_BASE=

  # Discord
  DISCORD_CLIENT_ID=
  DISCORD_CLIENT_SECRET=

  # GitHub
  GITHUB_CLIENT_ID=
  GITHUB_CLIENT_SECRET=